/*Reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Styles*/

/* High Level Containers */
.Header {
  background-color: rgb(202, 69, 69);
  height: 60px;

  padding: 10px 30px;
}

.Signup {
  margin: 1rem 0;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.Footer {
  height: 3rem;
  background-color: rgb(75, 197, 96);
}

/* Signup Section */

.Signup__header {
  height: 5rem;

  width: 318px;

  --header-color: rgb(144, 147, 153);
}

.Signup__form {
  width: 378px;
  min-height: 641px;

  background-color: rgb(209, 199, 59);

  padding: 30px;
}

/* Signup Header */

.header__logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo--text {
  color: var(--header-color);
  font-size: 2rem;

  transform: scaleX(1.2);
}

.logo-group {
  display: flex;

  margin-top: 0.4rem;
}

.logo-group__item {
  display: flex;
  align-items: center;
}

.logo-group__logo {
  height: 23px;
  width: 23px;

  margin-right: 4px;
  margin-left: 8px;
}

.logo-group__text {
  color: var(--header-color);

  font-size: 1rem;
  font-weight: normal;
}
