/*Reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-size: 16px;
}

/*Styles*/

body {
  background-color: rgb(236, 238, 241);

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Link {
  color: rgb(0, 119, 197);

  text-decoration: none;
}

/* High Level Containers */
.Header {
  height: 60px;

  padding: 10px 30px;

  display: flex;
  justify-content: flex-end;
}

.Signup {
  margin: 1rem 0;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.Footer {
  height: 4.2rem;

  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.5;
  text-align: center;
}

/* Header */

.Header__text {
  font-size: 0.7rem;
  line-height: 1.6;

  color: rgba(0, 0, 0, 0.6);
}

.Header__link {
  color: rgb(0, 119, 197);

  text-decoration: none;
}

.Header__cta {
  background-color: rgb(0, 119, 197);
  color: white;

  border: 1px solid black;
  border-radius: 4px;

  width: 110px;
  height: 2.1rem;

  margin-left: 8px;
}

/* Signup Section */

.Signup__header {
  height: 5rem;

  width: 318px;

  --header-color: rgb(144, 147, 153);
}

.Signup__form {
  width: 378px;
  min-height: 641px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 30px;
  margin-top: 1.1rem;

  background-color: white;
}

/* Signup Header */

.header__logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo--text {
  color: var(--header-color);
  font-size: 2.3rem;

  transform: scaleX(1.2);
}

.logo-group {
  display: flex;

  margin-top: 0.4rem;
}

.logo-group__item {
  display: flex;
  align-items: center;
}

.logo-group__logo {
  height: 23px;
  width: 23px;

  margin-right: 4px;
  margin-left: 8px;
}

.logo-group__text {
  color: var(--header-color);

  font-size: 1.2rem;
  font-weight: normal;
}

/* Form */

.form__header {
  color: rgb(98, 98, 101);
  font-weight: normal;
  font-size: 1.4rem;

  text-align: center;

  margin-bottom: 20px;
}

.form__description {
  text-align: center;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}

.form__inputs {
  display: flex;
  flex-direction: column;

  margin-top: 1rem;
}

.input__item {
  margin-bottom: 2rem;
}

.form__inputs label {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
}

.form__inputs input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 1.9rem;
  width: 100%;
  border-radius: 3px;

  margin-top: 7px;
}

.text__optional {
  font-size: 0.8rem;
}

.text__small {
  font-size: 0.6rem;
}

/* Footer */
.Footer__links > .Link {
  margin: 5px;
}

@media only screen and (max-width: 913px) {
  .Header {
    display: none;
  }
}
