*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;

  color: white;
}

.Header {
  background-color: rgb(32, 32, 32);

  height: 50px;

  display: flex;
  align-items: center;

  padding: 0 3rem;
}

.Header__logo-container {
  display: flex;
  align-items: center;
}

.Header__logo {
  width: 0;
  height: 0;

  border-top: 7px solid transparent;
  border-left: 7px solid white;
  border-bottom: 7px solid transparent;
}

.Header__text {
  font-size: 1.3rem;

  margin-left: 5px;
}

.MainContainer {
  min-height: calc(100vh - 50px);
  background-color: rgb(24, 24, 24);

  padding: 1.5rem 3.6rem;
}

.Video {
  width: 55vw;
  min-width: 340px;

  height: 425px;
}

.Video__description {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  height: 150px;

  display: flex;

  align-items: center;
}

.description__text {
  margin-left: 4rem;
  font-size: 0.88rem;
}

.Video__title {
  font-size: 1.3rem;
  font-weight: normal;

  margin-top: 1rem;
}

.Video__stats {
  font-size: 0.9rem;

  color: grey;
  margin: 1rem 0;
}

.Comments {
  margin: 1rem 0;
}
