/*Reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}

/*Styles*/

.Navigation {
  position: absolute;
  width: 77%;
  height: 2.3rem;

  top: 1.2rem;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 5px;

  display: grid;
  grid-template-columns: repeat(8, 1fr) 1.5fr;
}

.Navigation > *:first-child {
  border-radius: 5px 0 0 5px;
}

.Navigation > *:last-child {
  border-radius: 0 5px 5px 0;
}

.Navigation > * {
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    to bottom,
    rgb(120, 120, 120),
    rgb(92, 92, 92) 50%,
    rgb(120, 120, 120) 50%,
    rgb(120, 120, 120)
  );

  border: 1px solid rgb(90, 90, 90);
}

.Navigation > a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  text-shadow: 0 -1px 1px black;
}

.Search-Container {
  padding: 0 15px;
}

.Search-Container > input {
  background: transparent;
  border-radius: 10px;
  border: none;
  box-shadow: inset 0 1px 2px rgb(40, 40, 40);
  outline: none;

  height: 1.2rem;

  padding: 0 10px;
  color: white;
}

.Apple-Logo {
  height: 21px;
  width: 21px;
}

.Hero {
  height: 88vh;

  background: url(images/your_verse_hero.jpg) no-repeat bottom;
}

.Promos {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  border-top: 2px solid white;
}

.Promos > img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.Footer {
  height: 4rem;

  display: grid;
  grid-auto-flow: column;

  font-size: 0.68rem;
  grid-gap: 2.3rem;

  justify-items: end;

  margin-top: 2rem;
  line-height: 2.5;

  color: rgb(155, 155, 155);
}

.Footer a {
  color: #08c;
  text-decoration: none;
}

.Footer__Navigation {
  justify-self: start;
}

.Footer__Navigation a::after {
  content: ' | ';
  color: grey;
}

.Footer__Navigation a:last-child::after {
  content: '';
}
