/*Reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}

/*Styles*/

/*debug*/
* {
  border: 1px solid red;
}

:root {
  --low: rgb(200, 200, 200);
  --medium: rgb(100, 100, 100);
  --high: rgb(25, 25, 25);
}

.Header {
  height: 6.5rem;

  display: grid;
  align-items: center;

  padding: 0 3rem;
}

.Header__nav {
  display: grid;
  grid-template-columns: 0.5fr repeat(6, 1fr) 3fr;
  grid-gap: 20px;
}

.Header__nav > *:last-child {
  margin-left: 2rem;
  background-color: var(--medium);
}

.Header__nav > *:nth-last-child(2) {
  background-color: var(--high);
}

.Header__nav > *:nth-last-child(3) {
  background-color: var(--medium);
}

.nav__item {
  background-color: var(--low);
  height: 50px;
  width: 80%;
}

.Category-nav {
  height: 3.5rem;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.Category-nav > * {
  width: 100%;
  height: 50px;

  background-color: var(--low);
}

.Main__Showcase {
  display: grid;
  grid-template-columns: 3fr 2fr;

  height: 800px;
}

.Main__Showcase > * {
  width: 100%;
  height: 100%;
}

.Main__Article {
  display: grid;
  grid-template-columns: 2fr 3fr;

  height: 100%;
}

.Main__Article > * {
  width: 100%;
  height: 100%;
}

.Newsletter {
  display: grid;
  justify-content: center;
}

.Main__Newsletter {
  height: 225px;
  width: 225px;

  margin-top: 3rem;

  background-color: var(--high);

  position: relative;
}

.Main__Newsletter::after {
  content: '';

  position: absolute;

  top: 110%;

  width: 100%;

  height: 50px;

  background-color: var(--medium);
}
