:root {
  --red: rgb(247, 34, 16);
}

.SubscribeBtn {
  font-size: 0.7rem;
}

.Header__logo {
  width: 132px;
  height: 20px;
}

.SubHeaderNav > * {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
}

.SubHeaderNav > *::after {
  content: '';
  width: 0;
  border-right: 1px solid grey;
  margin: 0.7rem;
}

.SubHeaderNav > *:nth-last-child(2)::after,
.SubHeaderNav > *:last-child::after {
  border-right: none;
}

.SubHeaderNav__flair {
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
  width: 5rem;
  height: 0;
}

.SubNavNav > * {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  color: grey;

  margin: 1rem;
}

.SubNavNav > :first-child {
  color: black;
}

/* Utilities */

.border-grey {
  border-color: grey;
}

.bg-red {
  background-color: var(--red);
}

.btn-yellow {
  background-color: rgb(255, 228, 0);
}

.Top {
  order: -1;
}

.Debate {
  order: -1;
}

@media screen and (min-width: 768px) {
  .Top {
    order: 0;
  }

  .Debate {
    order: 0;
  }
}

/* Large Breakpoint */
@media screen and (min-width: 992px) {
  .SubscribeBtn {
    font-size: initial;
  }

  .Header {
    padding: 1.7rem 0 2rem;
  }

  .Header__logo {
    width: auto;
    height: auto;
  }

  .position-lg-absolute {
    position: absolute;
  }

  .top-lg-50 {
    top: 50%;
  }
  .start-lg-50 {
    left: 50%;
  }
  .translate-lg-middle {
    transform: translate(-50%, -50%);
  }
}
