@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@700&display=swap');

/*Reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

:root {
  --text-color: rgba(0, 0, 0, 0.8);
  --border-color: rgba(0, 0, 0, 0.1);
}

.Header {
  position: fixed;
  top: 0;

  height: 4.3rem;
  width: 100%;

  border-bottom: 1px solid var(--border-color);

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-items: flex-end;

  padding: 5px 15px;
}

.Header__MenuBtn {
  border: 0;
  background: transparent;
  font-size: 2.4rem;

  color: var(--text-color);
}

.Header__Logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  font-family: 'Grenze Gotisch', cursive;
  font-size: 2.5rem;
}

.Button {
  border: none;
  padding: 10px 10px 6px;
  font-size: 1.1rem;
  font-weight: bold;

  text-transform: uppercase;
  border-radius: 3px;

  margin: 0 5px;
}

.Button--blue {
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: white;
}

.MainSection {
  margin-top: 12rem;
}

.Article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Article__Heading {
  font-style: italic;
  font-size: 3.7rem;

  max-width: 500px;

  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
}

.Article__MainPicture {
  width: 950px;

  margin: 2rem 0;
}

.MainPicture__img {
  width: 100%;

  margin-bottom: 1.5rem;
}

.Quote {
  width: 80%;
}

.Quote__Text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  line-height: 1.3;
}

.Quote__Owner {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
}
