/*Reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  border: 1px solid red;
}

.Header {
  height: 50px;
  width: 100%;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding: 0 1rem;

  background-color: rgb(247, 248, 248);
  box-shadow: 0 2px 2rem rgb(200, 200, 200);

  position: fixed;
  top: 0;
  z-index: 1;
}

.TnwLogo {
  font-weight: bold;

  transform: scaleY(0.8);
}

.TnwLogo::after {
  content: 'TNW';
}

.Header__logo {
  font-size: 2rem;
}

.Header__nav {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
}

.nav__item {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(80, 86, 102);
  font-size: 0.87rem;
}

.Showcase {
  padding-top: calc(4rem + 50px);
}

.Showcase__Header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;

  padding: 0 5rem;
}

.Showcase__Logo {
  font-size: 6rem;
}

.Showcase__Subheading {
  font-size: 2rem;
  font-weight: normal;
  color: rgb(80, 86, 102);
}

.Showcase__Content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    'big1 big1 small1 small2'
    'big1 big1 small1 small2'
    'big1 big1 big2 big2'
    'long long big2 big2'
    'long long big2 big2';

  grid-gap: 10px;

  height: 632px;

  padding: 0 2rem;
  margin: 4rem 0;
}

.Showcase__Article:nth-child(1) {
  grid-area: big1;
}

.Showcase__Article:nth-child(2) {
  grid-area: big2;
}

.Showcase__Article:nth-child(3) {
  grid-area: small1;
}

.Showcase__Article:nth-child(4) {
  grid-area: small2;
}

.Showcase__Article:nth-child(5) {
  grid-area: long;
}

.Popular {
  height: 456px;
  background-color: rgb(247, 248, 248);

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}

.Popular__Heading {
  text-align: center;
}

.Popular__Content {
  align-self: start;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  min-height: 150px;

  padding: 0 5rem;
}

.Stories {
  height: 937px;
  padding: 7rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Stories__Heading {
  font-size: 2.5rem;
}

.Stories__Content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.Stories__Article {
  min-height: 175px;
}

.Stories__Btn {
  align-self: center;
  height: 3rem;
  width: 7rem;

  background: white;

  border: 1px solid rgb(204, 204, 204);
  border-radius: 50px;
  box-shadow: -1px -1px rgb(204, 204, 204);
}

.Footer {
  height: 6rem;

  background-color: black;
  color: white;

  font-size: 0.9rem;

  display: grid;
  place-items: center;
  align-content: center;
  grid-gap: 10px;
}
